@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');
:root {
  --main-green: #00F021;
  --main-blue: #00136D;
  --main-yellow: #FFD800;
}
.grid-container-mobile {
  display: grid;
  grid-template-areas:
    'title title title title title title'
    'yellow-bar yellow-bar yellow-bar yellow-bar yellow-bar yellow-bar'
    'sam-for-iowa sam-for-iowa sam-for-iowa sam-for-iowa sam-for-iowa sam-for-iowa'
    'yellow-bar-two yellow-bar-two yellow-bar-two yellow-bar-two yellow-bar-two yellow-bar-two'
    'short-bio short-bio short-bio short-bio short-bio short-bio'
    'social social social social social social'
    'yellow-bar-three yellow-bar-three yellow-bar-three yellow-bar-three yellow-bar-three yellow-bar-three'
    'articles-button articles-button articles-button articles-button articles-button articles-button'
    'cow-logo cow-logo cow-logo cow-logo cow-logo cow-logo';
  grid-gap: 20px;
  padding: 30px;
  font-family: 'Special Elite', cursive;
}

.grid-container-mobile > div {
  text-align: center;
}

.title-mobile { 
  grid-area: title;
  color: white;
  font-size: 30px;
}

.title-left-align-mobile{
  display: inline-block;
  text-align: left;
}

.yellow-bar-mobile{
  grid-area: yellow-bar;
  height: 15px;
  background-color: var(--main-yellow);
}

.sam-for-iowa-mobile{
  grid-area: sam-for-iowa;
  width: 100%;
}

.sam-for-iowa-mobile > img{
  width: 100%;
  height: auto;
}

.yellow-bar-two-mobile{
  grid-area: yellow-bar-two;
  height: 15px;
  background-color: var(--main-yellow);
}

.short-bio-mobile{
  grid-area: short-bio;
  color: white;
  font-size: 20px;
}

.social-mobile{
  grid-area: social;
  color: var(--main-blue);
  background-color: var(--main-green);
  font-size: 20px;
  border: 5px solid var(--main-yellow);
}

.yellow-bar-three-mobile{
  grid-area: yellow-bar-three;
  height: 15px;
  background-color: var(--main-yellow);
}

.articles-button-mobile{
  grid-area: articles-button;
  height: 100px;
  font-size: 30px;
  padding-top: 0px;
  padding-bottom: 40px;
  margin-bottom: 0px;
}

.button-inline-mobile{
  display: inline-block;
  background-color: var(--main-yellow);
  padding: 20px;
  width: 70%;
  border: 5px solid var(--main-green);
}

.cow-logo-mobile{
  grid-area: cow-logo;
  width: 100%;
}

.cow-logo-mobile > img{
  width: 100%;
  height: auto;
}

a, a:visited{
  color: var(--main-blue);
}





